body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
}

#login {
    margin: 10px auto;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
}
